* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.element {
  scrollbar-width: thin; /* "auto" (default) or "thin" */
  scrollbar-color: var(--color2) var(--color2); /* thumb color track color */
}
.element::-webkit-scrollbar {
  width: 5px; /* thickness of the scrollbar */
}

:root {
   /*
   --light: rgb(228 213 164);
    --color2: rgb(177 166 115);
    --color3: rgb(121 113 100);
    --dark: rgb(58 56 43);

    */
   /*
    --light:rgb(206 191 176);
    --color2: rgb(182 169 159);
    --color3: rgb(164 150 147);
    --dark: rgb(81 75 75);
    */

    /*
    --light:rgb(204 196 174);
    --color2: rgb(156 151 138);
    --color3: rgb(111 112 117);
    --dark: rgb(76 75 73);
    */

    /*
    --light:rgb(253 242 237);
    --color2: rgb(245 219 212);
    --color3: rgb(214 150 126);
    --dark: rgb(107 94 46);
    */
    
    /*
    --light:rgb(218 214 203);
    --color2: rgb(154, 151, 137);
    --color3: rgb(108 102 86);
    --dark: rgb(58, 56, 49);
    */
    
    /*
    --light:rgb(227 225 182);
    --color2: rgb(178 183 133);
    --color3: rgb(119 130 97);
    --dark: rgb(69 69 46);
    */

    /*
    --light:rgb(251 249 225);
    --color2: rgb(177 206 197);
    --color3: rgb(162 163 90);
    --dark: rgb(118 108 88);
    */
    /*
    --light:rgb(241 238 216);
    --color2: rgb(194 203 211);
    --color3: rgb(159 148 135);
    --dark: rgb(58 53 48);
    */
    
     --light:rgb(247 239 211);
    --color2: rgb(213, 201, 174);
    --color3: rgb(109, 107, 90);
    --dark: rgb(60, 61, 52);
    
    /*
     --light:rgb(219 223 214);
    --color2: rgb(186, 201, 202);
    --color3: rgb(144 155 157);
    --dark: rgb(75 77 66);

    */
}

html {
    height: 100%;
    scroll-behavior: smooth;

}

@font-face {
    font-family: 'rodin';
    src: url(FOT-Rodin\ Pro\ M.otf);
}

body {

    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: serif;



    font-size: 16px;
}

p {
    margin: 0;
    line-height: 1.5;
    

}

a {
    color: var(--light);
}

footer {

    padding: 10px;
    border: var(--color3) 4px double;

   


}

footer a {
    text-decoration: none;
    color: var(--dark);
}

footer a:hover {
    color: var(--light);

}

/* dividing page into 2 */
.grid1 {
    border-top: var(--dark) solid 30px;
    border-bottom: var(--dark) solid 30px;
    height: 100vh;
    min-height: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 75% 25%;


}

/* largest left div containing all content */
.left {
    height: 100%;
    min-height: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 10px 100px;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;


}

/* container within .left for scrolling */
.scrollbox {
    padding: 40px 40px 10px;
    overflow-y: auto;
    height: 80vh;
    color:rgb(34, 26, 14);

    display: flex;
    flex-direction: column;
    gap: 40px;

}


.dialogue {
    letter-spacing: 0.01rem;
    border: var(--light) solid 4px;
    padding: 30px;
      margin-right: 15px;
      margin-left: 15px;

    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.dialogue p {
    margin: 0;
    padding: 0;
}

.dialogue p:first-child {
    text-align: left;
}

.dialogue p:last-child {
    text-align: right;
    animation: blinking 0.8s infinite alternate;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.dialogue.show {
    opacity: 1;
}

.spacer {
    height: 15rem;
    flex-shrink: 0;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.123);
}

.modalcontent {
    background-color: var(--light);
    margin: 15% auto;
    padding: 25px;
    border: 1px solid var(--color2);
    width: 20%;
    text-align: center;


}

.modalcontent p {
    margin-bottom: 8px;
    color:var(--dark);
}

.modalcontent img {

    height: 70px;
    width: auto;
    object-fit: contain;

}





.section {

    display: none;
    flex-direction: column;
    gap: 2.25rem;

}



/* largest right div containing all content */
.right {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px;
    background-color: var(--color3);
    min-height: 0;
    display: grid;
    grid-template-rows: 10% 40% 48%;

}


/* right-content divisions */
.cont1 {

    grid-row-start: 1;
    grid-row-end: 2;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    
}

/* open-down menu */
.days {
    position: relative;
    padding: 10px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-image:linear-gradient(
  to right,
  transparent 0%,
  var(--light) 30%,
  var(--color2) 70%,
  transparent 100%
) 1;

    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    

}

.days p {
    color:var(--light);
    transform: scaleY(1.5);
}

.daydrop {
    display: none;
    position: absolute;
    padding-top: 10px;

    background-color: color-mix(
  in srgb,
  var(--color2) 60%,
  transparent
);
    


    min-width: 100%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.daydrop a {
    padding: 5px;
    text-align: center;
    color: var(--dark);
    display: block;
    padding-bottom: 5px;
    text-decoration: none;
    letter-spacing: normal;
    transform: scaleY(1.1);

}
.days p:hover{
   
    color:var(--dark);
    
    
}

.days:hover .daydrop {
    display: block;
    
    
}


.daydrop a:hover {
    cursor: pointer;
    color: var(--light);
    background-color: rgba(0, 0, 0, 0.179);

}




.cont2 {
    padding-top: 25px;
    margin: 0;

    grid-row-start: 2;
    grid-row-end: 3;

    object-fit: contain;

}

/* div containing inventory */
.inventory {
    color: var(--light);
    
    box-sizing: border-box;
    padding: 17px;
    
    font-size: 19px;
    height: fit-content;
    object-fit: contain;
    box-sizing: border-box;

}

.cont2 img {
    height: 35px;
    width: 300px;



}

.inventory p {
    margin-left: 1em;
    letter-spacing: 0.01rem;
    
    padding-bottom: 10px;
}

.icons {
    object-fit: contain;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    gap: 4px;


}

.icons img {

    height: 55px;
    width: auto;
    object-fit: contain;

    border: var(--color2) 4px double;
   
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.icons img.reveal {
    animation:

        flash 2s linear alternate;
    animation-delay:
        0s,
        0.6s;
}

.icons img:hover {
    background-color: var(--light);
    cursor: pointer;
}


.cont3 {
    padding: 30px;
   
    padding-bottom: 10px;
    grid-row-start: 3;
    grid-row-end: 4;

    object-fit: contain;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;

}

/* div containing bottom content */
/* HEIGHT WIDTH */
.bottomcont {
    padding: 10px;
    
    background-image: linear-gradient(to top, var(--color2), rgba(255, 0, 0, 0));
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 17px;
    text-align: start;
    font-size: 15px;
    color: var(--dark);


}


.bottomcont img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    animation: bob 5s ease-in-out infinite;
}

@keyframes bob {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}