*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{

    background-color: rgb(184, 184, 184);
    box-sizing: border-box;
    height: 100vh;
    border-top: rgb(51, 51, 51) solid 40px;
     border-bottom: rgb(51, 51, 51) solid 40px;

}

.container{
    position:relative;
    overflow: hidden;
    padding-top: 400px;

    padding-left:100px;
    
    display:flex;
    justify-content: flex-start;
    align-items: center;
    
    
}
.container a{
    position:relative;
    z-index:2;
}


img.title {
    

    width: 600px;
    height: auto;
    animation: fadein 2s forwards;

    transition: 
        box-shadow 0.3s ease,
        filter 0.3s ease;

   
}

.title:hover{
    cursor:pointer;
    animation:flash 1s alternate;
    
}



@keyframes flash{
    0%{opacity:0; }
    100%{opacity:1;}
}

@keyframes fadeside{
    0%{transform: translateX(0);}
    100%{transform: translateX(100%);}
}
@keyframes fadein{
    0%{opacity:0; transform: translateX(-50px); }
    100%{opacity:1; transform: translateX(0px); }
}
.container::after{
    z-index: 1;
    content: '';
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 100%
    );

    animation:
        
        fadeside 2s;

    pointer-events: none;
    
}

.other{
    
    padding:60px;
    display:flex;
    margin-left: 25px;
    flex-direction: column;
    justify-content: space-evenly;
    gap:30px;
}
.butt{
    padding:5px;
    padding-left:10px;
    background-color: rgba(0, 0, 0, 0.451);
    color:rgb(0, 0, 0);
    text-decoration:none;
}
.butt:hover{
    background-color: rgba(0, 0, 0, 0.231);
    color:rgb(0, 0, 0);
}

