.transition1{
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:101;
    background-color:rgb(51, 49, 45);
    opacity:0;
    pointer-events:none;
    transition:1s ease-out;
}
.transition1.is-active{
    opacity:1;
    pointer-events:all;
}

.transtext {
    font-size:65px;
    color: rgb(154, 151, 137);
    z-index: 2;
    position: absolute;
  top: 50%; /* Start at the middle vertically */
  left: 50%;
  transform: translate(-50%, -50%);
}

.transition2{
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:101;
    background-color:rgb(51, 49, 45);
    opacity:0;
    pointer-events:none;
    transition:1s ease-out;
}
.transition2.is-active{
    opacity:1;
    pointer-events:all;
}